@import './utils/variables';
@import './utils/breakpoints';
@import './base/base';
@import './common/common';
@import './utils/placeholders';

@import './components/page-header';
@import './components/hero';
@import './components/goals';
@import './components/works';
@import './components/team';
@import './components/social-links';
@import './components/customers';
@import './components/page-footer';
@import './components/portfolio';
@import './components/modal-window';
