:root {
  /* Fonts */
  --main-font-family: 'Roboto', sans-serif;

  /* Colors */
  --accent-blue-color: #2196f3;
  --accent-black-color: #000;
  --main-white-color: #fff;
  --main-dark-color: #212121;
  --main-grey-color: #757575;
  --hero-background-color: #c4c4c4;
  --btn-filter-bg-color: #f5f4fa;
  --potrfolio-cart-border-color: #eeeeee;
  --footer-background-color: #2f303a;
  --card-set-gap: 30px;
  --icons-fill-color: #afb1b8;

  /* Time functions */
  --main-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font-family);
  color: var(--main-dark-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* Clear browser styles */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Common styles */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--main-white-color);
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--main-time-func);
}

.link-hover:hover,
.link-hover:focus {
  color: var(--accent-blue-color);
}

.list {
  list-style: none;
}

.button {
  display: inline-block;

  margin: 0;
  border: none;

  font-family: inherit;

  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  color: inherit;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.current {
  color: var(--accent-blue-color);
}

/*
|========================================
| Header
|========================================
*/

.header {
  border-bottom: 1px solid #ececec;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-blue-color);
}

.site-logo--black {
  color: var(--accent-black-color);
}

.site-logo--white {
  color: var(--main-white-color);
}

.header-navigation {
  margin-left: 90px;
}

.navigation-list {
  display: flex;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navigation-list__link:hover,
.navigation-list__link:focus {
  color: var(--accent-blue-color);
}

.navigation-list__thumb {
  position: relative;
}

.navigation-list__thumb.current::after {
  opacity: 1;
}

.navigation-list__thumb::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  border-radius: 2px;

  height: 4px;
  width: 100%;

  background-color: var(--accent-blue-color);
  opacity: 0;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  color: var(--main-grey-color);
}

.header-contacts__ref {
  display: flex;
  align-items: center;
  fill: var(--main-grey-color);
  transition: fill 250ms var(--main-time-func), color 250ms var(--main-time-func);
}

.header-contacts__ref:hover,
.header-contacts__ref:focus {
  color: var(--accent-blue-color);
  fill: var(--accent-blue-color);
}

.header-contacts__item {
  display: flex;
  align-items: center;
}

.header-contacts__icon {
  margin-right: 10px;
}

/*
|========================================
| Hero
|========================================
*/

.section-hero {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--hero-background-color);
}

.section-hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
}

.section-hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-white-color);
}

.section-hero__orderbtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  background-color: var(--accent-blue-color);
  color: var(--main-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--main-time-func);
}

.section-hero__orderbtn:hover,
.section-hero__orderbtn:focus {
  background-color: #188ce8;
}

/*
|========================================
| Goals
|========================================
*/

.goals-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.goals-list__item {
  flex-basis: calc((100% - var(--card-set-gap) * 3) / 4);
}

.goals-list__thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--btn-filter-bg-color);
}

.goals-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-dark-color);
  margin-bottom: 10px;
}

.goals-list__description {
  line-height: 1.7;
  color: var(--main-grey-color);
}

/*
|========================================
| What are we doing
|========================================
*/

.works {
  padding-top: 0;
}

.works__title {
  margin-bottom: 50px;
}

.works__list {
  display: flex;
  justify-content: space-between;
}

.works__thumb {
  position: relative;
}

.works__description {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 70px;
  width: 100%;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*
|========================================
| Our team
|========================================
*/

.team {
  background-color: var(--btn-filter-bg-color);
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.team__item {
  flex-basis: calc((100% - var(--card-set-gap) * 3) / 4);
  text-align: center;
  background-color: var(--main-white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team__deskr {
  padding: 30px 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-dark-color);
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-grey-color);
  text-align: center;
  margin-bottom: 16px;
}

/*
|========================================
| Social links
|========================================
*/

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-links__link {
  display: block;
  padding: 12px;
  background-color: var(--main-white-color);

  border-radius: 50%;
  width: 44px;
  height: 44px;

  fill: var(--icons-fill-color);
  transition: fill 250ms var(--main-time-func), background-color 250ms var(--main-time-func);
}

.social-links__link--black {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-white-color);
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--accent-blue-color);
  fill: var(--main-white-color);
}

/*
|========================================
| Regular Customers
|========================================
*/

.customers {
  display: flex;
  justify-content: space-between;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icons-fill-color);
  transition: fill 250ms var(--main-time-func), border-color 250ms var(--main-time-func);
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--accent-blue-color);
  fill: var(--accent-blue-color);
}

/*
|========================================
| Footer
|========================================
*/

.section-footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  display: flex;
}

.footer-item-adress {
  margin-right: 70px;
}

.footer-item-links {
  margin-right: 95px;
}

.footer-item-links .social-link {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--main-white-color);
}

.footer-item-links .social-link:hover,
.footer-item-links .social-link:focus {
  background: var(--accent-blue-color);
}

.footer-slogan {
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.section-footer .site-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.adress-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.adress-list__link--white {
  color: var(--main-white-color);
}

.adress-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.form-subscribe {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-right: 10px;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.subscribe__input {
  width: 360px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;

  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.button-subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;

  background-color: var(--accent-blue-color);
  color: var(--main-white-color);
}

.button-subscribe__icon {
  margin-left: 15px;
}

/*
|========================================
| Portfolio
|========================================
*/

.list-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.list-filter__btn {
  display: inline-block;

  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;

  color: inherit;
  background-color: var(--btn-filter-bg-color);

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--main-time-func);
}

.list-filter__btn:hover,
.list-filter__btn:focus {
  background-color: var(--accent-blue-color);
  color: var(--main-white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.list-filter__btn--cuttent {
  background-color: var(--accent-blue-color);
  color: var(--main-white-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.portfolio-list__item {
  flex-basis: calc((100% - var(--card-set-gap) * 2) / 3);
  transition: box-shadow 250ms var(--main-time-func);
}

.portfolio-list__item:hover,
.portfolio-list__item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-list__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__category {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-grey-color);
}

.portfolio-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--main-time-func);
}

.portfolio-list__item:hover .portfolio-list__overlay {
  transform: translateX(0);
}

.portfolio-list__text {
  padding: 60px 24px;
  padding-bottom: 0;

  font-size: 18px;
  line-height: calc(28 / 16);
  color: var(--main-white-color);
}

.portfolio-list__footer {
  border-top: 0;
  border-left: 1px solid var(--potrfolio-cart-border-color);
  border-bottom: 1px solid var(--potrfolio-cart-border-color);
  border-right: 1px solid var(--potrfolio-cart-border-color);
  padding: 20px 25px;
}

/*
|========================================
| Modal Window
|========================================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear;
}

.backdrop-is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: animate 500ms lianer;
}

.backdrop-is-hidden .backdrop__modal {
  transform: animate 500ms lianer reverse;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 530px;
  min-height: 580px;

  border-radius: 4px;

  background-color: var(--main-white-color);
}

@keyframes animate {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.order-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.order-form__btnclose {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  fill: black;

  transition: fill 250ms var(--main-time-func), box-shadow 250ms var(--main-time-func);
}

.order-form__btnclose:hover,
.order-form__btnclose:focus {
  fill: var(--accent-blue-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.order-form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.input-lable {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--main-grey-color);
}

.input-lable:hover .text-input,
.input-lable:focus .text-input,
.input-lable:hover .input_icon,
.input-lable:focus .input_icon {
  border-color: var(--accent-blue-color);
  fill: var(--accent-blue-color);
}

.input-wrapper {
  display: flex;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.text-input {
  flex-grow: 1;
  display: block;
  height: 40px;

  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--main-time-func);
}

.text-input:focus + .text-input__icon {
  fill: var(--accent-blue-color);
}

.text-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--main-time-func);
}

.text-area {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;

  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--main-grey-color);

  transition: border-color 250ms var(--main-time-func);
}

.text-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.text-area:hover,
.text-area:focus {
  border-color: var(--accent-blue-color);
}

.agreement {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.agreement__label {
  display: inline-flex;
  margin-left: 7px;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.agreement__checkbox-icon {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 5px;

  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.agreement__checkbox:checked + .agreement__checkbox-icon {
  background-color: var(--accent-blue-color);
  background-image: url('../images/svg/icon-check.svg');
  background-size: contain;
  border-color: var(--accent-blue-color);
  background-origin: border-box;
}

.agreement__link {
  margin-left: 5px;
  text-decoration: underline;
  color: var(--accent-blue-color);
}

.order-form__btnsubmit {
  align-self: center;
  display: inline-block;

  height: 50px;
  width: 200px;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-white-color);
  background-color: var(--accent-blue-color);

  transition: box-shadow 250ms var(--main-time-func);
}

.order-form__btnsubmit:hover,
.order-form__btnsubmit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
