.customers {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: $card-set-gap;

  &__item {
    @include flex-basis(2);

    @media screen and (min-width: $tablet) {
      @include flex-basis(3);
    }

    @media screen and (min-width: $desktop) {
      @include flex-basis(6);
    }
  }

  &__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: $icons-fill-color;

    transition: {
      property: fill, border-color;
      duration: 250ms;
      timing-function: $main-time-func;
    }
  }

  &__link:hover,
  &__link:focus {
    border-color: $accent-blue-color;
  }
}
