.customers {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: $card-set-gap;

  &__item {
    flex-basis: calc((100% - $card-set-gap) / 2);

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - $card-set-gap * 2) / 3);
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - $card-set-gap * 5) / 6);
    }
  }

  &__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: $icons-fill-color;
    transition: fill 250ms $main-time-func, border-color 250ms $main-time-func;
  }

  &__link:hover,
  &__link:focus {
    border-color: $accent-blue-color;
  }
}
