.section-footer {
  background-color: $footer-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  .site-logo {
    display: inline-block;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      margin-right: 0px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}

.footer-item-adress {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    text-align: left;
    width: 230px;
    margin-bottom: 0;
  }
}

.footer-item-links {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-top: 5px;
  }

  @media screen and (min-width: $desktop) {
    width: 200px;
    text-align: left;
    margin-bottom: 0;
  }

  .social-links {
    flex-wrap: nowrap;
  }
}

.footer-slogan {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-white-color;

  @media screen and (min-width: $desktop) {
    padding-top: 12px;
  }
}

.adress-list {
  @extend %list;

  &__link {
    @extend %link;
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    &--white {
      color: $main-white-color;
    }

    &:hover,
    &:focus {
      color: $accent-blue-color;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer-item-subscribe {
  width: 100%;

  @media screen and (min-width: $desktop) {
    width: 570px;
  }
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12px;

  font-weight: 700;
  text-transform: uppercase;
  color: $main-white-color;

  @media screen and (min-width: $tablet) {
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    width: 360px;
    margin-right: 10px;
  }

  &__input {
    max-width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    @media screen and (min-width: $tablet) {
      width: 450px;
    }

    @media screen and (min-width: $desktop) {
      width: 360px;
      margin-bottom: 0;
    }
  }
}

.button-subscribe {
  @extend %button;

  &__icon {
    margin-left: 10px;
  }
}
