.social-links {
  @extend %list;
  display: flex;
  justify-content: center;
  gap: 10px;

  &__link {
    @extend %link;
    display: block;
    padding: 12px;
    background-color: $main-white-color;

    border-radius: 50%;
    width: 44px;
    height: 44px;

    fill: $icons-fill-color;
    transition: 250ms $main-time-func;
    transition-property: fill, background-color;

    &--black {
      background-color: rgba(255, 255, 255, 0.1);
      fill: $main-white-color;
    }
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-blue-color;
    fill: $main-white-color;
  }
}
