.works {
  padding-top: 0;

  @media screen and (max-width: $desktop) {
    display: none;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    @extend %list;
    display: flex;
    gap: $card-set-gap;
  }

  &__item {
    flex-basis: calc((100% - $card-set-gap * 2) / 3);
  }

  &__thumb {
    position: relative;
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 70px;
    width: 100%;
    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: $main-white-color;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
