/* Fonts */
$main-font-family: 'Roboto',sans-serif;

/* Colors */
$accent-blue-color: #2196f3;
$accent-black-color: #000;
$main-white-color: #fff;
$main-dark-color: #212121;
$main-grey-color: #757575;
$hero-background-color: #c4c4c4;
$btn-filter-bg-color: #f5f4fa;
$potrfolio-cart-border-color: #eeeeee;
$footer-background-color: #2f303a;
$card-set-gap: 30px;
$icons-fill-color: #afb1b8;

/* Time functions */
$main-time-func: cubic-bezier(0.4, 0, 0.2, 1);